@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --purple: #AD1FEA;
  --blue: #4661E6;
  --darkest-blue: #373F68;
  --white: #FFFFFF;
  --gray: #F2F4FF;
  --light-gray: #F7F8FD;
  --dark-blue: #3A4374;
  --text-color: #647196;
  --orange: #F49F85;
  --light-blue: #62BCFA;
  --red: #D73737;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: "Jost", serif;
  background-color: var(--light-gray);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
  font-family: "Jost", serif;
}

/* irem start */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  padding: 16px 24px;
  color: white;
}

.header-name h1 {
  font-weight: 700;
  font-size: 15px;
  line-height: 21.68px;
  letter-spacing: -0.19px;
}

.header-name h3 {
  font-weight: 500;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: 0px;
  opacity: 0.75;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* irem end */

/* sude start */

.feedback-details-container{
  padding: 24px;
}

.detail-buttons-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.go-back-btn{
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.go-back-btn p{
  font-weight: 700;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: 0px;
  color: var(--text-color);
}

.edit-feedback-btn{
  font-weight: 700;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: 0px;
  color: var(--gray);
  padding: 10.5px 16px;
  border-radius: 10px;
  background-color: var(--blue);
  cursor: pointer;
}

.suggestion-item{
  padding: 24px;
  background-color: var(--white);
  border-radius: 10px;
}

.suggestion-item-wrapper h2{
  font-weight: 700;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: -0.18px;
  color: var(--dark-blue);
  margin-bottom: 9px;
}

.suggestion-item-wrapper p{
  font-weight: 400;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: 0px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.suggestion-item-wrapper .category{
  font-weight: 600;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: 0px;
  color: var(--blue);
  padding: 5px 17px 6px 16px;
  background-color: var(--gray);
  border-radius: 10px;
  margin-bottom: 14px;
  display: inline-block;
}

.suggestion-item--mobile{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suggestion-item--mobile .upvotes--mobile, .upvotes{
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: -0.18px;
  text-align: center;
  color: var(--dark-blue);
  background-color: var(--gray);
  border-radius: 10px;
  padding: 6px 13px 7px 16px;
}

.suggestion-item--mobile .comments--mobile, .comments{
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: -0.18px;
  text-align: center;
  color: var(--dark-blue);
} 

.suggestion-item .comments, .suggestion-item .upvotes{
  display: none;
}

.feedback-details-container .suggestion-item{
  margin-bottom: 24px;
}

.comments-container{
  background-color: var(--white);
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 24px;
}

.comments-container h3{
  font-weight: 700;
  font-size: 18px;
  line-height: 26.01px;
  letter-spacing: -0.25px;
  color: var(--dark-blue);
  margin-bottom: 24px;
}

.comments-items-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.comments-item .divider{
  display: block;
  height: 1px;
  width: 100%;
  background-color: #8C92B3;
  margin-top: 24px;
  opacity: 0.25;
}

.comments-item:last-child .divider{
  display: none;
}

/* berna section start */

.roadmap-header, .roadmap-section-container-mobile-tab-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.roadmap-header, .roadmap-section-container-mobile-tab-header {
  padding-inline: 20px;
}

.roadmap-header {
  background-color: var(--darkest-blue);
  color: var(--white);
  height: 100px;

  h2 {
    font-size: 18px;
    font-weight: 700;
  }
  a {
    text-decoration: none;
  }
}

.add-feedback-btn {
  color: var(--white);
  font-weight: 700;
  font-size: 13px;
  height: 40px;
  width: 134px;
  background-color: var(--purple);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.roadmap-mobile-tab {
  width: 125px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid var(--light-gray);
  color: rgb(58, 67, 116, .4);
}

.roadmap-selected-tab {
  border-bottom: 4px solid var(--purple);
  color: var(--dark-blue);
}

.roadmap-section-container-mobile-tab-header {
  height: 55px;
  font-weight: 700;
}

.roadmap-status-section {
  margin: 20px;

  h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--dark-blue);
  }

  > p {
    font-size: 13px;
    font-weight: 400;
    color: var(--text-color);
  }
}

.roadmap-status-card {
  width: 100%;
  height: 273px;
  margin-top: 20px;
  margin-inline: auto;
  border-radius: 10px;
  background-color: var(--white);

  a, p, .roadmap-status {
    font-size: 13px;
    line-height: 18.79px;
  }
  .roadmap-status, p {
    color: var(--text-color);
  }
  a {
    text-decoration: none;
    font-weight: 700;
    color: var(--dark-blue);
  }
  p {
    margin-bottom: 5px;
  }
  .roadmap-status {
    text-transform: capitalize;
    
  }
}

.roadmap-card-top {
 height: 6px;
 background-color: var(--purple);
 border-radius: 5px 5px 0 0;
}

.roadmap-status-card-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  gap: 15px;
}

.roadmap-status-card-reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.roadmap-comments {
  display: flex;
  align-items: center;
  gap: 10px;
}

.roadmap-upvotes-btn {
  border: none;
  width: 69px;
  height: 40px;
  color: var(--dark-blue);
  font-weight: 700;
  line-height: 18.79px;
}

.roadmap-status-category-span {
  padding-inline: 15px;
  width: fit-content;
  height: 30px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadmap-status-category-span, 
.roadmap-upvotes-btn {
  background-color: var(--gray);
  border-radius: 10px;
  font-size: 13px;

}


.roadmap-section-container-mobile {
  display: block;
}

.roadmap-section-container-desktop-tablet {
  display: none;
}

/* berna section end */

/* mücahit start */

.create-new-feedback {
  padding: 88px 24px;
  margin-bottom: 20px;
}

/* mücahit end */


@media only screen and (min-width: 768px) {
  /* berna section start */

  .roadmap-header, .roadmap-section-container-desktop-tablet {
    max-width: 690px;
    margin: auto;
  }

  .roadmap-header {
    border-radius: 10px;
    margin-top: 56px;
    margin-bottom: 32px;
  }

  .roadmap-status-card {
    height: 300px;
  }

  .roadmap-status-section {
    margin: 7px;
    width: 223px;
    height: 339px;
  }

  .roadmap-section-container-desktop-tablet {
    justify-content: space-between;
  }

  .roadmap-section-container-mobile {
    display: none;
  }
  
  .roadmap-section-container-desktop-tablet {
    display: flex;
  }


  /* berna section end */
}

@media only screen and (min-width: 1280px){
  /* berna section start */

  .roadmap-header, .roadmap-section-container-desktop-tablet {
    max-width: 1110px;
    margin: auto;
  }

  .roadmap-header {
    border-radius: 10px;
    margin-top: 78px;
    margin-bottom: 32px;
  }

  /* berna section end */
}